<p class="text-sm">If you like what you read leave a like!</p>

<span class="mt-2 flex justify-center">
    <button id="button_likes"
        class="rounded-md border border-primary-400 px-2 py-1 font-normal text-primary-800 dark:border-primary-600 dark:text-primary-400"
        onclick="process_article()">
        <span id="button_likes_heart" style="display:none" class="text-2xl inline-block align-text-bottom">{{ partial "icon.html" "heart" }} </span>
        <span id="button_likes_emtpty_heart" class="text-2xl inline-block align-text-bottom">{{ partial "icon.html" "heart-empty" }}</span>
    </button>
</span>
