<!--
<div id="mc_embed_shell">
  <style type="text/css">
  #mc_embed_signup label { display: block; font-size: 13px; text-transform: uppercase; padding-bottom: 7px; color: #616161; font-weight: bold; }
  #mc_embed_signup input.email {
    display: block;
    padding: 8px 4px;
    margin: 0 4% 10px 0;
    text-indent: 5px;
    color: #818181;
    font-size: 1.0em;
    background: #f3f3f3;
    font-weight: bold;
    width: 100%;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
  }
  #mc_embed_signup input.submit {
    background: blue;
  }
  #mc_embed_signup input.email:focus {
    color: #666;
    background: #f3f3f3;
    -webkit-box-shadow: 0 0 12px #80cf7b;
    -moz-box-shadow: #80cf7b;
    box-shadow: #80cf7b;
  }

  #mc_embed_signup input#mce-SIGNUP{
    display:none !important;
  }
        /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
           We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>

<div id="mc_embed_signup">
    <form action="https://gmail.us18.list-manage.com/subscribe/post?u=944f3190f05f0ef817dad1a6c&amp;id=075496f841&amp;f_id=00bac2e1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        <div id="mc_embed_signup_scroll"><h2>Subscribe</h2>
            <div class="mc-field-group">
              <label for="mce-EMAIL">Email Address</label><input type="email" name="EMAIL" class="email" id="mce-EMAIL" value="">
              <input  tabindex="-1" aria-hidden="true" type="text" name="SIGNUP" class=" text" id="mce-SIGNUP" value="{{ .Permalink }}">
            </div>
            <div style="position: absolute; left: -5000px;" aria-hidden="true">
                /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                <input type="text" name="b_944f3190f05f0ef817dad1a6c_075496f841" tabindex="-1" value="">
            </div>
            <div class="clear foot">
                <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
            </div>
        </div>
    </form>
</div> -->
